@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "../tailwind/heroui.mts";
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@source '../components/**/*.{js,ts,jsx,tsx,mdx}';
@custom-variant dark (&:is(.dark *));

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 0, 0, 0;
	scroll-behavior: smooth;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
	/* overflow-x: hidden; */
}

@media (max-width: 970px) {
	.desktop {
		display: none !important;
	}
}

@media (min-width: 971px) {
	.mobile {
		display: none !important;
	}
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	width: 5px;
	background: #ddd;
	border-radius: 5px;
}

#article pre:not(.no-auto-font),
#article code:not(.no-auto-font) {
	font-family: "JetBrainsMono NFM", "JetBrains Mono", "Ubuntu Mono", "SF Mono",
		"Consolas", "Droid Mono", "Roboto Mono", "Courier New", Courier,
		monospace;
	font-variant-ligatures: none;
}

#article :is(h1, h2, h3, h4, h5, h6):hover .autolink {
	display: inline-block;
	margin-bottom: -5px;
}

#article :is(h1, h2, h3, h4, h5, h6) {
	scroll-margin-top: 100px;
}

#article pre {
	scrollbar-width: thin;
}

#article code[data-line-numbers] {
	counter-reset: line;
}

#article code[data-line-numbers] > [data-line]::before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	width: 0.75rem;
	margin-right: 2rem;
	text-align: right;
	color: gray;
}

#article code[data-line-numbers-max-digits="2"] > [data-line]::before {
	width: 1.25rem;
}

#article code[data-line-numbers-max-digits="3"] > [data-line]::before {
	width: 1.75rem;
}

#article code[data-line-numbers-max-digits="4"] > [data-line]::before {
	width: 2.25rem;
}

#article figure[data-rehype-pretty-code-figure] {
	background: #333;
	border-radius: 7px;
	border: 1px solid #343434;
	position: relative;
	cursor: text;
}

#article figure[data-rehype-pretty-code-figure] .copy-button {
	display: none;
	transition: 0.25s;
}

#article figure[data-rehype-pretty-code-figure]:hover .copy-button {
	position: absolute;
	top: 5px;
	right: 5px;
	display: block;
	font-size: 0.7rem;
	background-color: #333;
	border-radius: 3px;
	padding: 0 7px;
	cursor: pointer;
	color: white;
	text-transform: none;
	max-height: 1.6em;
	padding-top: 0.05em;
}

#article figure[data-rehype-pretty-code-figure] .copy-button:hover {
	background-color: #444;
}

#article figure[data-rehype-pretty-code-figure] .copy-button svg {
	margin-right: 2px;
	display: none;
}

#article a {
	transition: color 0.2s;
	word-break: break-all;
	overflow-wrap: break-word;
}

#article a:hover {
	color: hsl(0 0 80%);
}

.autolink {
	height: 1em;
	width: 1em;
	display: none;
	filter: invert(1);
	margin-left: 10px;
	opacity: 0.8;
	background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22currentColor%22%20class%3D%22w-6%20h-6%22%3E%0A%3Cpath%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M13.19%208.688a4.5%204.5%200%200%201%201.242%207.244l-4.5%204.5a4.5%204.5%200%200%201-6.364-6.364l1.757-1.757m13.35-.622%201.757-1.757a4.5%204.5%200%200%200-6.364-6.364l-4.5%204.5a4.5%204.5%200%200%200%201.242%207.244%22%20%2F%3E%0A%3C%2Fsvg%3E);
}

@import "./globals-extended.css";
